---
title: About
---

%section
  :markdown
    # Welcome!

    Girl Develop It is here to provide affordable and accessible programs to learn software through montorship and hands-on instruction.

    ## Some "rules"

    * We're here for you!
    * Every question is important
    * Help each other
    * Have fun

%section
  %h2 the teacher
  %h1 Chad Ostrowski
  :markdown
    * Works at [Citrusbyte](https://citrusbyte.com/)
    * Runs [Entire.Life](https://entire.life)
    * Gave [a rad talk about clouds](http://ilike.earthclouds.best/)
    * Tweets! [@chadoh](http://twitter.com/chadoh)
    * Blogs (occassionally) at [chadoh.com](http://chadoh.com/)

%section
  :markdown
    # Welcome!

    Tell us about yourself!

    * Who are you?
    * What do you hope to get out of this class?
    * If you were a plant, which would you be?

%section
  :markdown
    # The Class

    [Get thee some slides!](/)

%section
  %h1 Class Exit Survey
  :markdown
    [http://goo.gl/forms/apKmmoY9xi](http://goo.gl/forms/apKmmoY9xi)
